<div id="index">
  <%= stylesheet_link_tag "index"%>

    <div class="menu">

      <div class= "active home item"> Home </div>
      <div>
        <div class="item"><%= link_to "Create a Person", new_user_path, class: "nav_link"%></div>

      </div>

    </div>
  <h1>All People</h1>
  <div class="all_users">
    <% @users.each do |user|%>
    <div  class= "one_user">
      <div>
        <div class= "description">
          <div class= "name"><%= user.full_name  %></div>
          <div class= "grouped group">
            <div class= "detail">Age: <%=user.age%></div>
            <div class= "detail">Gender: <%= user.gender%></div>
          </div>
        </div>
        <div class= "grouped">
          <div><%= link_to "View", user_path(user), class: "change" %></div>
          <div><%= link_to "Update", edit_user_path(user), class: "change "%></div>
          <div><%= link_to "Delete", user,  method: :delete, class: "change d"%></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>